<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Register</h1>
	<form action="#" th:action="@{/lineGroup/register/add}"
		th:object="${lineGroupRegisterForm}" method="post">
		<p>
			Agent Code: <input type="text" th:field="*{agentCode}" /> 
			<input type="text" th:field="*{groupUserId}" readonly="readonly" />
		</p>
		<p>
			<input type="submit" value="Submit" />
		</p>
	</form>
</body>
</html>